<div class="about-the-site">
  <div class="container">
    <p class='blurb'>
      <strong>I'm <a href="http://sadiangabay.com">Jewel Sadiang-abay</a></strong>, a physician. You're reading my
      <a href="{{ base }}">Today I learned</a> blog.
      <i class='fleuron'></i>
      Follow me on
      <a href="https://twitter.com/jsadiangabaymd">Twitter</a> for web development snark, and
      <a href="https://instagram.com/jewelsadiangabaymd">Instagram</a> for calligraphy.
    </p>
    <h3 class='identity'><a href="http://www.sadiangabay.com">@jewelsadiangabay</a></h3>

    {% if page.url != '/index.html' %}
    <p class='back'>
      <a class='big-button -back -slim' href='{{ base }}#toc'></a>
    </p>
    {% endif %}

    <p>
    </p>
  </div>
</div>
